input {
    width: 300px;
    padding: 5px 10px;
    margin: 10px 0;
}

button{
    border: none;
    background: rgb(11, 141, 247);
    color: white;
    padding: 10px 10px;
    text-transform: uppercase;
    border-radius: 5px;
}
.error-msg{
    color: red;
    margin: 10px 0;
}
.invalid{
    border: 2px solid red;
}
.valid{
    border: 2px solid green;
}